.info {
  padding: calc(var(--theme-space) * 0.5);
  background: var(--theme-bg-3);
  border-width: 1px;
  border-style: dashed;
  font-size: 0.875rem;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
}

.info > * + * {
  margin-top: 0.5em;
}

.info-title {
  font-weight: 600;
}

.info-content > * + * {
  margin-top: 0.5em;
}

.info-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 4px;
}

.info-item-head {
  font-weight: 600;
}

.info-item-head .skill-command-icon {
  width: 1.25rem;
  height: 1.25rem;
}
