.linkbox {
  /*padding: calc(var(--theme-space) * 0.5);
  background: var(--theme-bg-3);
  border-width: 1px;
  border-style: dashed;*/
}

.linkbox-group > * + * {
  margin-top: calc(var(--theme-space) * 0.5);
}

.linkbox-group-title {
  margin-right: calc(var(--theme-space) * -1);
  border-bottom-width: 2px;
}

.linkbox-group-title-label {
  width: fit-content;
  padding: 2px 6px;
  background: var(--theme-tx-2);
  color: var(--theme-tx-lk);
  font-size: 0.75rem;
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
}

.linkbox-item:not(:first-child) {
  margin-top: 8px;
}

.linkbox-text,
.linkbox-link {
  display: block;
  padding: 6px 8px;
  background: var(--theme-bg-1);
  border-width: 2px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
}

.linkbox-link {
  position: relative;
  border-right-width: 40px;
}

.linkbox-link.is-external .linkbox-link-icon {
  position: absolute;
  top: calc(50% - 1px);
  right: -30px;
  width: 18px;
  height: 18px;
  fill: var(--theme-tx-lk);
  translate: 0 -50%;
}

.linkbox-link.is-internal::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  width: 10px;
  height: 10px;
  border-top: 3px solid var(--theme-tx-lk);
  border-right: 3px solid var(--theme-tx-lk);
  translate: 0 -50%;
  rotate: 45deg;
}
