@import "musubii/src/bases/typo/font.css";
@import "musubii/src/bases/base/reset.css";
@import "musubii/src/bases/base/html.css";

:root {
  --theme-tx-2: #1f1a16;
  --theme-bg-1: #eee7d6;
  --theme-bg-2: #c2b89f;
  --theme-bd-1: #1f1a16;
  --theme-tx-lk: #eee7d6;
  --theme-ac-1: #e9b43c;
  --theme-ac-2: #b30a0a;
  --theme-button-a: #b30a0a;
  --theme-button-b: #9f7e00;
  --theme-button-c: #02a55c;
  --theme-button-d: #0d7cb9;
  --theme-space: 28px;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  max-width: 540px;
  min-height: 100svh;
  margin: 0 auto;
  padding: 0 var(--theme-space);
}

.header {
  position: relative;
  padding: calc(var(--theme-space) * 0.875) 0;
}

.header-title {
  position: relative;
  font-size: clamp(28px, 7.5vw, 42px);
  font-weight: 900;
  font-family: var(--font-serif);
  line-height: 1.2;
  word-break: auto-phrase;
  z-index: 2;
}

.header-bg-icon {
  position: absolute;
  top: 0;
  right: calc(var(--theme-space) * -0.5);
  width: auto;
  height: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

@media (width >= 540px) {
  .header-bg-icon {
    right: 0;
  }
}

.nav {
  margin: 0 calc(var(--theme-space) * -1);
  border-top-width: 4px;
  border-bottom-width: 4px;
}

@media (width >= 540px) {
  .nav {
    margin: 0;
  }
}

.nav > * + * {
  border-top-width: 2px;
}

.nav-group {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.nav-group-grid {
  display: flex;
  padding: calc(var(--theme-space) * 0.25);
}

@media (width >= 540px) {
  .nav-group-grid {
    flex-wrap: wrap;
    padding: calc(var(--theme-space) * 0.25) 0;
  }
}

.nav-button {
  display: flex;
  flex: none;
  padding: 6px 12px;
  font-size: 0.875rem;
  font-weight: 600;
}

@media (hover: hover) and (pointer: fine) {
  .nav-button:hover {
    background: color-mix(in srgb, var(--theme-tx-2) 7%, transparent 93%);
  }
}

.nav-button.is-active {
  pointer-events: none;
  background: var(--theme-ac-1);
}

.main {
  padding: var(--theme-space) 0;
}

.docs > * + * {
  margin-top: 1em;
}

.docs h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.docs :is(ul, ol) {
  margin-left: 1.5em;
}

.docs :is(ul, ol) > li {
  display: list-item;
}

.docs ul > li {
  list-style: circle outside;
}

.docs p {
  word-break: auto-phrase;
}

.docs a {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .docs a:hover {
    text-decoration: none;
  }
}

.data > * + * {
  margin-top: calc(var(--theme-space) * 0.5);
}

.data-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.data-groups > * + * {
  margin-top: calc(var(--theme-space) * 0.5);
}

.data-group-title {
  display: flex;
  width: fit-content;
  padding: 2px 6px;
  background: var(--theme-tx-2);
  color: var(--theme-tx-lk);
  font-weight: 600;
}

.data-group-title.is-ac-2 {
  background: var(--theme-ac-2);
}

.data-list {
  margin-right: calc(var(--theme-space) * -1);
  border-top-width: 2px;
  border-bottom-width: 2px;
}

@media (width >= 540px) {
  .data-list {
    margin-right: 0;
  }
}

.data-list > * + * {
  border-top-width: 2px;
}

.data-item {
  padding: calc(var(--theme-space) * 0.5) 0;
}

.data-item-set > * + * {
  margin-top: calc(var(--theme-space) * 0.375);
}

.data-item-name {
  padding-right: calc(var(--theme-space) * 0.5);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
}

.data-item-command {
  padding-right: calc(var(--theme-space) * 0.5);
  font-size: 1.25rem;
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
  line-height: 1.25;
}

.data-list .data-list {
  position: relative;
  margin-top: calc(var(--theme-space) * 0.5);
  margin-right: 0;
  margin-bottom: calc(var(--theme-space) * -0.5);
  margin-left: calc(var(--theme-space) * 1.5);
  border-bottom-width: 0;
}

.data-list .data-list::before {
  content: "";
  position: absolute;
  top: -12px;
  left: calc(var(--theme-space) * -0.9875);
  width: 8px;
  height: 100%;
  background: var(--theme-bg-2);
}

.data-list .data-list > .data-item {
  position: relative;
}

.data-list .data-list > .data-item::before {
  content: "";
  position: absolute;
  top: calc((var(--theme-space) * 0.5) + (1.25rem * 1.25 / 2) - 4px);
  left: calc(var(--theme-space) * -0.9875);
  width: calc(var(--theme-space) * 0.9875 - 6px);
  height: 8px;
  background: var(--theme-bg-2);
}

.data-list .data-list > .data-item:last-child::after {
  content: "";
  position: absolute;
  top: calc((var(--theme-space) * 0.5) + (1.25rem * 1.25 / 2) + 4px);
  left: calc(var(--theme-space) * -0.9875 - 6px);
  width: calc(var(--theme-space) * 0.9875);
  height: calc(
    100% - (((var(--theme-space) * 0.5) + (1.25rem * 1.25 / 2) + 4px))
  );
  background: var(--theme-bg-1);
}

.data.is-slim .data-list {
  display: grid;
  grid-template-columns: minmax(0, calc(5.5rem * 1.25)) 1fr;
  grid-template-rows: auto;
}

.data.is-slim .data-list .data-list {
  grid-column: 1 / 3;
}

.data.is-slim .data-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto auto;
  grid-column: 1 / 3;
}

.data.is-slim .data-item-set {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1 / 3;
}

.data.is-slim .data-item-set > * + * {
  margin-top: 0;
}

.sprite-command {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: top;
}

.sprite-command.is-button-a {
  fill: var(--theme-button-a);
}

.sprite-command.is-button-b {
  fill: var(--theme-button-b);
}

.sprite-command.is-button-c {
  fill: var(--theme-button-c);
}

.sprite-command.is-button-d {
  fill: var(--theme-button-d);
}

.footer {
  padding: var(--theme-space) 0;
}

.footer-copyright {
  font-family: var(--font-sans-en);
}
