.article > * + * {
  margin-top: calc(var(--theme-space) * 1);
}

.article-title {
  font-size: 1.375rem;
  font-weight: 600;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
}

.article-content > * + * {
  margin-top: 1em;
}

.article-heading {
  font-size: 1rem;
  font-weight: 600;
}

.article-content-box + .article-content-box > .article-heading {
  margin-top: 1.5em;
}

.article-content-box > * + * {
  margin-top: 0.5em;
}

.article-text-link {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .article-text-link:hover {
    text-decoration: none;
  }
}
